{% extends "index.html" %}
{% load static %}

{% block head %}
{% endblock head %}

{% block content %}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="card p-4 shadow login-card">
        <div class="card-body">
            <h1 class="card-title text-center mb-4">Registrarse</h1>
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="form-floating mb-3">
                    {{ form.username }}
                    <label for="{{ form.username.id_for_label }}">Nombre de Usuario</label>
                    {% if form.username.errors %}
                        <div class="text-danger small">{{ form.username.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-floating mb-3">
                    {{ form.email }}
                    <label for="{{ form.email.id_for_label }}">Correo Electrónico</label>
                    {% if form.email.errors %}
                        <div class="text-danger small">{{ form.email.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-floating mb-3">
                    {{ form.password }}
                    <label for="{{ form.password.id_for_label }}">Contraseña</label>
                    {% if form.password.errors %}
                        <div class="text-danger small">{{ form.password.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-floating mb-3">
                    {{ form.confirm_password }}
                    <label for="{{ form.confirm_password.id_for_label }}">Confirmar Contraseña</label>
                    {% if form.confirm_password.errors %}
                        <div class="text-danger small">{{ form.confirm_password.errors }}</div>
                    {% endif %}
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-custom-orange btn-lg rounded-pill">Registrarse</button>
                </div>
            </form>

            <div class="text-center mt-3">
                ¿Ya tienes una cuenta? <a href="{% url 'login' %}" class="link-dark">Presiona aquí</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
