@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif; 
    
    height: 100vh;
}

img {
    max-width: 110%;
    margin-left: 15px;
    margin-right: 15px;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.header {
    background-color: #FFFAF7;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #000000;
}

.logo {
    color: #FF8400;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
}

.menu .navbar ul {
    display: flex;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 0 20px;
    color: #FFFFFF;
    display: block;
    font-weight: 600;
    text-decoration: none;
}

.menu .navbar ul li a:hover {
    color: #FF8400;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16 px;
    border: none;
    background: none;
    outline: none;
 }

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FF8400;
    transition: .5s;
}

.username input:focus ~ label,
.username input:focus ~ label{
    top: -5px;
    color: #FF8400;
}

.username input:focus ~ span::before
.username input:focus ~ span::before{
    width: 100%;
}

.recordar{
    padding: 0 0 10px 0;
    margin: -5px 20px 5px;
    color: #0a0a0a;
    cursor: pointer;
    text-align: center;
}

.recordar:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 320px;
    height: 50px;
    border: 1px solid;
    background:#FF8400;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: purple;
    transition: .5s;
}

.Registrarse{
    margin: 10px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}

.Registrarse a{
    color: #0a0a0a;
    text-decoration: none;
}

.Registrarse a:hover{
    text-decoration: underline;
}

@media(max-width:991px) {

    .menu {
        padding: 20px;
        position: relative;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #FF5A2C;
        display: none;
    }

    .menu .navbar ul {
        flex-direction: column;
    }

    .menu .navbar ul li {
        width: 100%;
        padding: 20px 0;
        text-decoration: none;
    }

    .menu .navbar ul li a:hover {
        color: #FFFFFF;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }
}